/BudgetExtractor/bin/Debug/netcoreapp3.1/BudgetExtractor.deps.json
/BudgetExtractor/bin/Debug/netcoreapp3.1/BudgetExtractor.runtimeconfig.dev.json
/BudgetExtractor/bin/Debug/netcoreapp3.1/BudgetExtractor.runtimeconfig.json
/BudgetExtractor/bin/Debug/netcoreapp3.1/result.csv
/BudgetExtractor/bin/Debug/netcoreapp3.1/runtimes/alpine-x64/native/libe_sqlite3.so
/BudgetExtractor/bin/Debug/netcoreapp3.1/runtimes/linux-arm/native/libe_sqlite3.so
/BudgetExtractor/bin/Debug/netcoreapp3.1/runtimes/linux-arm64/native/libe_sqlite3.so
/BudgetExtractor/bin/Debug/netcoreapp3.1/runtimes/linux-armel/native/libe_sqlite3.so
/BudgetExtractor/bin/Debug/netcoreapp3.1/runtimes/linux-mips64/native/libe_sqlite3.so
/BudgetExtractor/bin/Debug/netcoreapp3.1/runtimes/linux-musl-x64/native/libe_sqlite3.so
/BudgetExtractor/bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/libe_sqlite3.so
/BudgetExtractor/bin/Debug/netcoreapp3.1/runtimes/linux-x86/native/libe_sqlite3.so
/BudgetExtractor/bin/Debug/netcoreapp3.1/runtimes/osx-x64/native/libe_sqlite3.dylib
/BudgetExtractor/bin/Debug/netcoreapp3.1/settings.json
/BudgetExtractor/obj/BudgetExtractor.csproj.EntityFrameworkCore.targets
/BudgetExtractor/obj/BudgetExtractor.csproj.nuget.dgspec.json
/BudgetExtractor/obj/BudgetExtractor.csproj.nuget.g.props
/BudgetExtractor/obj/BudgetExtractor.csproj.nuget.g.targets
/BudgetExtractor/obj/Debug/netcoreapp3.1/BudgetExtractor.AssemblyInfo.cs
/BudgetExtractor/obj/Debug/netcoreapp3.1/BudgetExtractor.csproj.CopyComplete
/BudgetExtractor/obj/Debug/netcoreapp3.1/BudgetExtractor.csproj.FileListAbsolute.txt
/BudgetExtractor/obj/project.assets.json
